{% load static %}


<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">

<!-- Other CSS here -->


<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
 <!-- Default Style CSS -->


 <!-- Favicon Icon -->
<link rel="icon" type="image/png" href="{% static 'images/favicon.html' %}">
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <!-- Material Design Icons -->
<link href="{% static 'vendor/icons/css/materialdesignicons.min.css' %}" media="all" rel="stylesheet" type="text/css" />
 <!-- Select2 CSS -->
<link href='{% static "vendor/select2/css/select2-bootstrap.css" %}' />
<link href="{% static 'vendor/select2/css/select2.min.css' %}" rel="stylesheet" />
 <!-- Custom styles for this template -->
<link href="{% static 'css/osahan.css' %}" rel="stylesheet">


<link rel="stylesheet" href='{% static "css/custom.css" %}'>
<link rel="stylesheet" href='{% static "css/real.css" %}'>
