<div class="col-lg-8 col-md-8 mx-auto">
    <div class="card card-list card-list-view">
            <div class="row no-gutters">
                <div class="col-lg-5 col-md-5">
                      {% if instance.category.slug == "rent" %}
                        <span class="badge badge-success">For {{ instance.category }}</span>
                      {% elif instance.category.slug == "sale" %}
                        <span class="badge badge-info">For {{ instance.category }}</span>
                      {% else %}
                        <span class="badge badge-secondary">For {{ instance.category }}</span>
                      {% endif %}
                    
                     {% if instance.main_image %}
                        <img class="card-img-top" src="{{instance.main_image.url}}" alt="Card image cap">
                    {% endif %}
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="card-body">
                        {% if request.user.realtor %}
                            <a href="{{ instance.get_edit_url }}"><span class="float-right text-success"><i class="mdi mdi-table-edit"></i> Edit</span></a>
                        {% endif %}
                    
                        <a href="{{ instance.get_absolute_url }}"><h5 class="card-title">{{instance.title}}</h5></a>
                        {% if request.user.realtor %}
                            <a href="#"><span class="float-right text-danger"><i class="mdi mdi-delete-variant"></i>  Delete </span></a>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i> {{ instance.address| truncatewords:20 }}</h6>
                        <h2 class="text-success mb-0 mt-3">
                        ₦{{ instance.price }} {% if instance.duration %} <small>/{{ instance.duration }}</small>{% endif %}</h2>
                    </div>
                    <div class="card-footer">
                        <span><i class="mdi mdi-sofa"></i> Beds : <strong>{{ instance.bedroom }}</strong></span>
                        <span><i class="mdi mdi-scale-bathroom"></i> Baths : <strong>{{ instance.bathroom }}</strong></span>
                        <span><i class="mdi mdi-move-resize-variant"></i> Area : <strong>{{ instance.square_meter }}</strong></span>
                    </div>
                </div>

            </div>
        </a>
    </div>
</div>