#list_background{
    background-image: url("/static/images/slider_1.jpg"); 
    }

#list_background1{
    background-image: url("/static/images/slider_2.jpg"); 
    }

#list_background2{
    background-image: url("/static/images/slider_3.jpg"); 
    }