{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
{% endblock %}

{% block content %}   

<section class="section-padding bg-dark inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="mt-0 mb-3 text-white">New Property</h1>
                    <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="{% url 'realtor:home' %}">My Properties</a>  /  <span class="text-success">New Property</span></p>
                    </div>
                </div>
            </div>
        </div>
</section>
        <!-- End Inner Header -->



<section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto">
                    <div class="card padding-card">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Create Property</h5>
                            <form method="post"  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <br/>
                                <br/>
                                <br/>
                                <h6 class="card-title mb-4">Add More Images</h6>
                                {{ formset|crispy }}
                                <button type="submit" class="btn btn-success btn-block">Save</button>
                            </form>
    
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 

{% endblock %}  