
{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

   {% block style %}
       <link href='{% static "css/contact.css" %}' rel="stylesheet">
   {% endblock %}

{% block content %}
        <!-- Inner Header -->
        <section class="section-padding bg-dark inner-header" style="background-image: url({% static 'images/city_view.jpg' %})">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="mt-0 mb-3 text-white">Contact Us</h1>
                        <div class="breadcrumbs">
                            <p class="mb-0 text-white"><a class="text-white" href="/">Home</a>  /  <span class="text-success">Contact
                                    Us</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Inner Header -->
        
        
        
        <!-- Contact Us -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h3 class="mt-1 mb-5">Get In Touch</h3>
        
                        <h6 class="text-dark"><i class="mdi mdi-home-map-marker"></i> Address :</h6>
                        <p>86 Petersham town, New South wales Waedll Steet, Australia PA 6550</p>
        
                        <h6 class="text-dark"><i class="mdi mdi-phone"></i> Phone :</h6>
                        <p>+91 12345-67890, (+91) 123 456 7890</p>
        
                        <h6 class="text-dark"><i class="mdi mdi-deskphone"></i> Mobile :</h6>
                        <p>(+20) 220 145 6589, +91 12345-67890</p>
        
                        <h6 class="text-dark"><i class="mdi mdi-email"></i> Email :</h6>
                        <p>iamosahan@gmail.com, info@gmail.com</p>
        
                        <h6 class="text-dark"><i class="mdi mdi-link"></i> Website :</h6>
                        <p>www.askbootstrap.com</p>
        
        
                        <div class="footer-social"><span>Follow : </span>
                            <a href="#"><i class="mdi mdi-facebook"></i></a>
                            <a href="#"><i class="mdi mdi-twitter"></i></a>
                            <a href="#"><i class="mdi mdi-instagram"></i></a>
                            <a href="#"><i class="mdi mdi-google"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <div id="map"></div>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Us -->
        
        
        
        
        <!-- Contact Me -->
        <section class="section-padding  bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 section-title text-left mb-4">
                        <h2>Contact Us</h2>
                    </div>
                    <form class="col-lg-12 col-md-12" name="sentMessage">
                        <div class="row">
                            <div class="control-group form-group col-lg-4 col-md-4">
                                <div class="controls">
                                    <label>Your Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" required>
                                </div>
                            </div>
                            <div class="control-group form-group col-lg-4 col-md-4">
                                <div class="controls">
                                    <label>Email Address <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" required>
                                </div>
                            </div>
                            <div class="control-group form-group col-lg-4 col-md-4">
                                <div class="controls">
                                    <label>Phone Number <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" required>
                                </div>
                            </div>
                        </div>
        
                        <div class="control-group form-group">
                            <div class="controls">
                                <label>Message <span class="text-danger">*</span></label>
                                <textarea rows="10" cols="100" class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Send Message</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Contact Me -->
        
        
        <!-- Join Team -->
        <section class="section-padding bg-dark text-center">
            <h2 class="text-white mt-0">Join our professional team & agents<br>to start selling your house</h2>
            <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <button type="button" class="btn btn-success">Contact Us</button> <button type="button" class="btn btn-outline-success">Read
                More</button>
        </section>
        <!-- End Join Team -->
{% endblock %}