{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href='{% static "css/register.css" %}'>
{% endblock %}


{% block content %}   




 <!-- Register -->
 <section class="section-padding">
        <div class="container">
          <div class="row">
              <div class="col-lg-5 col-md-5 mx-auto">
              <div class="card padding-card">
                <div class="card-body">
                <h5 class="card-title mb-4">Register</h5>
                  <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    <button type="submit" class="btn btn-success btn-block">REGISTER</button>
                  </form>
                  <div class="mt-4 text-center login-with-social">
                  <a href="{% url 'main:login' %} "><button type="button" class="btn btn-default btn-block">Sign In</button></a><br />
                  <button type="button" class="btn btn-facebook btn-block"><i class="mdi mdi-facebook"></i> Login With Facebook</button>
                  <button type="button" class="btn btn-twitter btn-block"><i class="mdi mdi-twitter"></i> Login With Twitter</button>
                  <button type="button" class="btn btn-google btn-block"><i class="mdi mdi-google-plus"></i> Login With Google</button>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </div>
      
    </section>
            <!-- End Register -->


{% endblock %}     