{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}


<section class="section-padding">
        <div class="container">
   <div class="row">
       <div class="col-lg-5 col-md-5 mx-auto">
       <div class="card padding-card">
         <div class="card-body">
         <h5 class="card-title mb-4">Reset Password</h5>
           <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
             <button type="submit" class="btn btn-success btn-block">RESET PASSWORD</button>
           </form>
           
           <div class="mt-4 text-center">
            Don't have an account? <a href="{% url 'main:register' %}">Register</a>
           </div>
         </div>
       </div>
       </div>
   </div>
</div>
</section>

{% endblock %}