{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto">
        <div class="card padding-card">
          <div class="card-body">
            <h5 class="card-title mb-4">Password reset sent</h5>
              <p>
                We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
      
                If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder
      
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}